#header, #footer
{
    position: fixed;
    left: 0;
    right: 0;
    color: #444;
    font-size: 0.9em;
}
div.flex
{
    display: flex;
    flex-direction: row;
}
div.flex > *
{
    margin-left: 5mm;
}
div.flex > *:first-child
{
    margin-left: 0mm;
}
#header
{
    top: 0;
}
#footer
{
    border-top: 0.1pt solid #999;
    padding-top: 5pt;
    font-size: 0.8em;
    line-height: 1.05em;
}
.brouillon
{
    color: #D00;
}
.brouillon:before
{
    content: "[ ";
}
.brouillon:after
{
    content: " ]";
}
.doc_info_absente
{
    background-color: black;
    color: white;
    padding: 0.5mm 1mm;
}

.page-number
{
    text-align: center;
    margin: 5pt auto;
}
img.alignright { float: right; }
img.alignleft { float: left; }

body
{
    text-align: justify;
    font-size: 8pt;
}

p, ul, ol
{
    margin: 3pt 0;
}

div#attestation,
div#accord-comm
{
    font-size: 10pt;
}

div.reglement-interieur p
{
    margin: 2px 0;
}

.page-number:before
{
     content: "Page " counter(page);
}
/*
h1
{
    background-color: #f05323;
    text-align: center;
    page-break-before: always;
    break-before: always;
}
h1:nth-of-type(1)
{
    page-break-before: avoid;
    break-before: avoid;
}
p:nth-of-type(1), ul:nth-of-type(1), ol:nth-of-type(1), span.brouillon:nth-of-type(1)
{
    page-break-before: avoid;
    break-before: avoid;
}
*/
h1, h2, h3, h4, h5
{
    page-break-after: avoid !important;
    break-after: avoid !important;
}
h2:nth-of-type(1),
h3:nth-of-type(1),
h4:nth-of-type(1),
h5:nth-of-type(1)
{
    margin-top: 0px;
}
h3
{
    font-size: 10pt;
    margin: 5pt 0 3pt 0;
}
h4
{
    font-size: 8pt;
    margin: 3pt 0 2pt 0;
}
div.footnote
{
    position: absolute;
    bottom: 0;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}
table.signature,
table.flex,
table.cartouche { width: 100%; }

table.signature
{
    table-layout: fixed;
    margin-top: 5mm;
}

.signature td
{
    height: 50mm;
    border: 0.1mm solid #CCC;
    vertical-align: top;
}

.cartouche td { border: 0.1mm solid #CCC; text-align: center; }

img.photo-formateur
{
    width: 35mm;
    height: auto;
    margin: 0 0 5mm 5mm;
    float: right;
}

/* Proposition de formation */
.proposition p,
.proposition ul,
.proposition ol,
{
    margin: 0 0 2mm 0;
    font-size: 7pt;
    font-weight: normal;
}
.proposition td
{
    vertical-align: top;
    border-bottom: 0.1mm solid #CCC;
    font-size: 7pt;
    padding: 1mm 0 3mm 4mm;
}
.proposition tr > td:nth-of-type(1)
{
    width: 30mm;
    padding-right: 4mm;
    padding-left: 0;
    font-weight: bold;
}
.proposition td p:first-child,
.proposition td ol:first-child,doc
.proposition td ul:first-child
{
    margin-top: 0mm;
}
.proposition td p:last-child,
.proposition td ul:last-child,
.proposition td ol:last-child
{
    margin-bottom: 0mm;
}
table.proposition
{
    margin-bottom: 6mm;
}

table.eval { width: 100%; }
td.td-titre { font-size: 12pt; font-weight: bold; }
td.td-value { width: 10mm; border: 0.1mm solid #AAA; color: #AAA; text-align: center; }
td.td-plusmoins { text-align: center; font-weight: bold; }
td.td-reponse-t { border-bottom: 0.1mm solid #CCC; }
td.td-reponse-ta { height: 15mm; border-bottom: 0.1mm solid #CCC; }

/* feuille d'émargement */
table.tableau-dates,
table.tableau-stagiaires
{
    width: 100%;
    border-collapse: collapse;
}
table.tableau-dates td,
table.tableau-dates th,
table.tableau-stagiaires td,
table.tableau-stagiaires th
{
    padding: 1mm;
    border: 0.2mm solid #AAA;
    text-align: center;
}
td.case-signature
{
    height: 8mm;
}
td.case-signature.contrat0
{
    background-color: #AAA;
}
tr.formateur
{
    font-style: italic;
}
th.col-nb-heures
{
    width: 20mm;
}

div.saut-de-page { page-break-after: always; }
