/* Pages de gestion */
ul#gestion_menu li
{
    display:inline;
}

ul#gestion_menu li a
{
    text-decoration: none;
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    color: black;
}
ul#gestion_menu li a:hover,
ul#gestion_menu li a.selected
{
    background-color: green;
    color: white;
}

/* Page aide */
.objet.aide
{
    display: flex;
    border-top: 1px solid;
}

.objet.aide > div:first-child
{
    width: 100px;
    font-size: 0.8em
}
