/*
.mce-content-body.prerequis p,
.mce-content-body.objectifs p,
.mce-content-body.quizpr p,
.mce-content-body.quizobj p
{
    border: solid 1px #CCC;
    min-height: 1.25em;
    padding-left: 11em;
}
.mce-content-body.prerequis p::before,
.mce-content-body.objectifs p::before,
.mce-content-body.quizpr p::before,
.mce-content-body.quizobj p::before
{
    content: "Compétence évaluée : ";
    position: absolute;
    left: 1%;
    color: #CCC;
}
.mce-content-body.prerequis p::after,
.mce-content-body.objectifs p::after,
.mce-content-body.quizpr p::after,
.mce-content-body.quizobj p::after
{
    content: " | 1 | 2 | 3 | 4 | 5 ";
    position: absolute;
    right: 1%;
}
.mce-content-body br[data-mce-bogus]
{
    display: none;
}
*/


div.flex::before,
div.signature::before,
div.footnote::before
{
    position: absolute;
    font-size: 0.7em;
    padding: 0.2em 2em;
    color: white;
    font-weight: bold;
}
div.flex div.signature::before,
div.signature div.flex::before
{
    content: 'incohérence, ne faîtes pas ça !';
    background-color: red;
    font-size: 1em;
    padding: 5px;
}

div.footnote,
div.flex
{
    border: 1px dashed Crimson;
    margin-bottom: 3px;
    margin-top: 2em;
    vertical-align: top;
}
div.flex
{
    display: flex;
    flex-direction: row;
}
div.flex::before,
div.signature::before,
div.footnote::before
{
    margin-top: -1.7em;
    border-radius: 1em 1em 0 0;
}
div.flex::before
{
    content: 'ligne flexible basique';
    background-color: Crimson;
}
div.signature { height: 35mm; }
div.signature::before
{
    content: 'cadre de signatures';
    background-color: Teal;
}
div.footnote::before
{
    content: 'note de bas de page';
    background-color: #DDD;
    color: black;
    font-weight: normal;
}
div.signature { border-color: Teal; }
div.footnote { border-color: #DDD; }

div.flex > *
{
    margin-left: 5mm;
    padding: 2px;
    min-height: 10px;
    flex-grow: 1;
}
div.flex > *
{
    border: 1px dashed green;
}
div.flex > *:not([style*="text-align: right"], .flex)::before
{
    content: '<';
    margin-right: 10px;
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: green;
    float: left;
}
div.flex > *[style*="text-align: right"]:not(.flex)::after,
div.flex > *[style*="text-align: center"]:not(.flex)::after
{
    content: '>';
    margin-left: 10px;
    padding: 2px;
    font-size: 10px;
    color: white;
    background-color: green;
    float: right;
}
div.flex > *:first-child
{
    margin-left: 0mm;
}
div.footnote > p
{
    margin: 5px 0;
    color: #444;
    font-size: 0.9em;
}

.brouillon
{
    color: #F80;
}
.keyword
{
    color: #800;
    padding: 0 5px;
    border: #FCC 1px solid;
}
.keyword:hover,
.keyword:focus
{
    background-color: #FCC;
}
.keyword::before,
.test::before
{
    content: "{";
}
.keyword::after,
.test::after
{
    font-family: dashicons;
    content: "}";
}
.test
{
    color: #080;
    padding: 0 5px;
    border: #BFB 1px solid;
}
.test:hover,
.test:focus
{
    background-color: #CFC;
}
.custom_keyword
{
    background-color: #CCC;
}
