li.li-tab
{
    display: none;
    flex-direction: row;
    flex-basis: auto;
    background-color: white;
}
li.li-tab.visible
{
    display: flex;
}
ul.opaga2 li.visible:nth-child(2n) div
{
    background-color: #eee;
}
li.li-tab div
{
    flex: 5;
    border: 1px solid #bbb;
    padding: 1px 4px;
    background-color: white;
}
li.li-tab div.thin
{
    flex: 0 1 35px;
}

ul.opaga .li-head div
{
    background-color: #ccc;
}

span.delete-schema
{
    opacity: 0;
    width: 0px;
    height: 0px;
}
div:hover > span.delete-schema
{
    opacity: 0.5;
    width: 20px;
    height: 20px;
    transition-duration: 300ms;
    transition-property: opacity;
}
div:hover > span.delete-schema:hover
{
    opacity: 1;
    color: red;
}
