
.blocHidden { display: none; }

.openButton, .clickButton, .onglet, .icone-bouton, .bouton, .fermer-tableau, .icone, .icone-doc, .pointer { cursor: pointer;}

.openButton::before
{
    font-family: dashicons;
    content: "\f177";
    float: left;
    padding-right: 0.5em;
}
.openButton.open::before
{
    content: "\f530";
}

.inactif { cursor: not-allowed; }

.important, .erreur { color: red; }
.alerte { color: orange; }
.succes { color: green; }
.bg-erreur { background-color: red; }
.bg-alerte { background-color: orange; }
.bg-succes { background-color: green; }
.bord-erreur { border: red 1px solid; }
.bord-alerte { border: orange 1px solid; }
.bord-succes { border: green 1px solid; }

.purple { color: purple; }
.grey { color: #BBB; }

.hidden { display: none; }

.pastille
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
    text-align: center;
}
.pastille.bg-erreur
{
    cursor: pointer;
}

.metadata.notif-modif .modif h2::after,
.metadata.notif-modif .modif h3::after
{
    content: " \f464";
    font-family: dashicons;
    color: green;
}

div.icone-aide,
.icone-bouton,
.icone-bouton.dashicons
{
    padding: 2px 10px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: auto;
}
.icone-bouton a,
a.icone
{
    text-decoration: none;
}

div.icone-aide.border,
.icone-bouton
{
    border: 1px solid #CCC;
}
.icone-bouton
{
    background-color: white;
}
.icone-bouton:hover
{
    border: 1px solid #000;
    background-color: #FFA;
}
div.icone-aide:hover
{
    border-color: purple;
}
div.icone-aide .dashicons:hover,
.icone-doc:hover
{
    color: #4D0;
}
.input_jpost div.icone-aide:hover
{
    border: none;
}

.icone-bouton.delete,
.icone-bouton.delete-entity
{
    background-color: white;
    color: #F33;
}
.icone-bouton.delete-entity:hover
{
    color: white;
    background-color: #F33;
}
.pointer.delete-entity { color: #600; }
.pointer.delete-entity:hover { color: #F33; }
.pointer.switch-user { color: #060; }
.pointer.switch-user:hover { color: #3F3; }

.unsubscribe:hover,
span.del-date:hover
{
    color: red;
}

.clickButton
{
    background-color: #DD4;
    border: 1px solid #CCC;
    padding: 2px 10px;
    border-radius: 6px;
    text-decoration: none;
}
.clickButton:hover
{
    background-color: #FF0;
    border: 1px solid #000;
}

.dialog form #id,
.dialog form #identifiant
{
    display: none;
}
.icone-bouton.premier_contact
{
    margin: 30px 20%;
    font-size: 2em;
    text-align: center;
    width: 60%;
}
.premier_contact .dashicons, .dashicons-before::before
{
    font-size: 1.2em;
    width: auto;
    height: auto;
}

table td, table th
{
    word-break: normal;
}

ul.opaga.head,
table.opaga thead
{
    position: sticky;
    top: 30px;
}
table.opaga th,
table.opaga td
{
    border: 1px solid #bbb;
    overflow: hidden;
}
table.opaga th
{
    background-color: #ccc;
    text-align: center;
    font-weight: 400;
}
table.opaga2 tr:nth-child(2n+1)
{
    background-color: #eee;
}
table.opaga th:not(.thin)
{
    width: 40%;
}

table.opaga th.thin
{
    width: 5%;
}

table.opaga .liste-client li::before
{
    font-size: 0.7em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    display: block;
    float: left;
    margin-left: -2em;
    background-color: #666;
    color: white;
    border-radius: 50%;
}
table.opaga .liste-client li
{
    clear: both;
    margin-left: 1.5em;
}
table.opaga .liste-client li.sous-traitance::before { content: "S"; }
table.opaga .liste-client li.morale::before { content: "M"; }
table.opaga .liste-client li.physique::before { content: "P"; }

#opaga-log
{
    display: none;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 90%;
    left: 5%;
    background-color: #EEE;
    border: solid 1px #333;
    padding: 3px;
    overflow: auto;
    counter-reset: line;
}
#opaga-log code
{
    counter-increment: line;
    display: block;
    color: black;
    font-weight: bold;
}
#opaga-log code pre
{
    color: black;
    padding-left: 1em;
    font-weight: 400;
}
#opaga-log code.session { color: #600; padding-left: 5em; }
#opaga-log code.client { color: #060; padding-left: 6em; }
#opaga-log code.stagiaire { color: #006; padding-left: 7em; }
#opaga-log code::before
{
    content: counter(line);
    width: 4em;
    float: left;
    position: absolute;
    left: 0;
    text-align: right;
    color: #666;
}
#opaga-message
{
    display: none;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    min-height: 5em;
    width: 90%;
    left: 5%;
    background-color: white;
    border: solid 1px green;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 3px 3em 1em;
}

#opaga-message .erreur
{
    border-left: 4px solid red;
    border-right: 4px solid red;
    padding: 0 5px;
    color: black;
}

#opaga-message .succes
{
    border-left: 4px solid green;
    border-right: 4px solid green;
    padding: 0 5px;
    color: black;
}

#opaga-log span.close,
#opaga-message span.close
{
    float: right;
    font-size: 40px;
    display: block;
    position: absolute;
    right: 20px;
    color: red;
    cursor: pointer;
}
#opaga-log span.close
{
    position: sticky;
    top: 5px;
}

/*
 * #opaga-log::after, 
{
    font-family: dashicons;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-rendering: auto;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
}
*/

.flexrow
{
    display: flex;
    flex-flow: row wrap;
}
.flexrow.nowrap
{
    flex-wrap: nowrap;
}
.flexrow.margin > fieldset,
.flexrow.margin > div
{
    margin: 0px 20px auto 0px;
}
.flexrow.margin > fieldset:last-child,
.flexrow.margin > div:last-child
{
    margin-right: 0px;
}
.flexrow.auto-width > fieldset,
.flexrow.auto-width > div
{
    flex: 1 1 auto;
}

.formation-edit.flexrow div:first-child
{
    flex: 1 1 25%;
}
.formation-edit.flexrow div:last-child
{
    flex: 1 1 75%;
}
.flexcol
{
    display: flex;
    flex-flow: column wrap;
}

div.keywords
{
    max-width: 300px;
    height: auto;
    overflow: auto;
}
div.height-max-700 { max-height: 700px; }
div.height-max-300 { max-height: 300px; }

.label-fixe label:not(.top)
{
    width: 6em;
    text-align: right;
}
label.autre span
{
    margin-left: 2em;
}
label.top
{
    display: block;
}

.openButton
{
    background-color: #DDD;
    border: 1px solid #CCC;
    padding: 2px 10px;
    border-radius: 6px;
    display: inline-block;
}
.openButton:hover
{
    background-color: #FFF;
    border: 1px solid #000;
}

.highlightButton { background-color: #FFF; }

/* patch thème Generic */
.entry-content ul, .widget-container ul, .comment-body ul, .entry-content ol, .widget-container ol, .comment-body ol
{
    text-indent: 0px;
}

.wpof p
{
    margin: 3px 0;
}

.faux-bouton
{
    padding: 2px 10px;
    margin: 0px 3px;
    border-radius: 6px;
}

.float.left
{
    float: left;
    display: block;
}

.float.right
{
    float: right;
    display: block;
    margin-left: auto;
}

fieldset
{
    border: 1px solid #BBB;
    margin: 10px 0;
    padding: 3px 15px;
    border-radius: 6px;
}

legend
{
    background-color: #DDD;
    color: black;
    font-size: 1.2em;
    padding: 2px 5px;
    border-radius: 6px;
    border: 1px solid #BBB;
}

p.infos_doc,
.page #content p.infos_doc
{
    font-size: 0.8em;
    font-style: italic;
    color: #444;
}

div#calendrier ul
{
    list-style: none;
}
div#calendrier li
{
    border-bottom: solid 1px #AAA;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

div#calendrier .formation
{
    display: block;
}

.opaga-board-link
{
    font-size: 1.2em;
    display: block;
    float: right;
}

div#profile-box
{
    position: fixed;
    top: 20px;
    right: 0px;
    margin: 10px;
    background-color: #CCC;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    z-index: 100;
}

div#profile-box a
{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}
div#profile-box li
{
    margin: 0px;
    font-size: 1em;
    padding: 3px 6px;
    box-sizing: border-box;
}

div#profile-box li:not(.sous-titre):hover,
div#profile-box a:hover,
div#profile-box :not(.sous-titre) .ui-state-active,
div#profile-box :not(.sous-titre) .ui-state-focus
{
    background-color: #888;
    border: none;
    margin: 0px;
    color: white;
}
div#profile-box li.ui-state-focus a
{
    color: white;
}
div#profile-box .ui-menu-item-wrapper
{
    padding: 0;
}

div#profile-box li.sous-titre
{
    border-top: 1px solid #888;
    text-align: center;
    font-style: italic;
    cursor: default;
}

/* Profil utilisateur */
img.photo-profil,
.presentation-profil img#photo
{
    max-width: 300px;
    height: auto;
}
.presentation-profil img#photo
{
    float: right;
    padding-left: 10px;
}
.presentation-profil p#role
{
    
}
.presentation-profil p#marque
{
    
}
.presentation-profil div#description
{
    
}
.presentation-profil div#sessions
{
    
}
.presentation-profil div#formations
{
    
}
.presentation-profil div#realisations
{
    
}

/* Bulles d'aide */
.icone-aide
{
    cursor: pointer;
}
/*
div.aide
{
    background-color: white;
    z-index: 1000;
    position: absolute;
    padding: 10px;
    min-width: 500px;
    border: 1px solid purple;
    color: #333;
    font-family: sans-serif;
    font-size: 12px;
}
div.aide .icone-aide
{
    display: none;
}
div.masque
{
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.5;
}
*/
.aide_show ul
{
    list-style: disc inside;
}
form.dialog.help_dialog
{
    min-width: 20vw;
    max-width: 40vw;
}
form.help_dialog .aide_edit
{
    display: none;
}
.aide-dialog-button
{
    float: right;
}
    

/* Session de formation */
/* bandeau d'onglets */
div#bandeau-onglets-session
{
    display: flex;
}
div#bandeau-onglets-session li
{
    flex-direction: row;
    font-size: 2em;
    padding: 2px 20px 10px 20px;
}

div#session,
div#session input,
div#session textarea,
div#session select,
div#session label
{
    font-size: 14px;
}

div.board-stagiaire
{
    margin-top: 0px;
}

div.infos-session h3,
div.board-session h3,
div.tab-session h3,
div.board-client h3,
div.board-stagiaire h3
{
    margin: 0 0 5px 0;
    font-size: 18px;
}
div.board-client
{
    border: solid 1px #DDD;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

div.action-resp
{
    border: solid 1px #E83;
    border-radius: 5px;
    padding: 0 10px 3px 10px;
    margin-bottom: 5px;
}

.infos-session > div,
.infos-stagiaire > div,
.infos-client > div,
.infos-session.flexrow > fieldset
{
    flex-grow: 1;
    margin-right: 10px;
    max-width: 45%;
}


/* Édition en live de champs input, select, textarea */

.input_jpost
{
    margin-bottom: 10px;
}

.input_jpost .valeur
{
}

.input_jpost h3
{
    font-size: 20px;
    margin: 10px 0 5px 0;
}

.input_jpost label.top
{
    display: block;
}

.input_jpost.checkbox,
.input_jpost.time,
.input_jpost.number
{
    display: flex;
    flex-wrap: wrap;
}

.right .input_jpost.checkbox,
.right .input_jpost.time,
.right .input_jpost.number
{
    justify-content: flex-end;
}
.input_jpost.checkbox label.top,
.input_jpost.time label.top,
.input_jpost.number label.top
{
    display: inline;
    flex-grow: 5;
}

.dialog .input_jpost label.top
{
    display: block;
}

.input_jpost input,
.input_jpost select,
.input_jpost textarea,
.input_jpost .wp-editor-wrap,
.edit-data .input_jpost .valeur
{
    display: none;
}

.edit-data h1 .input_jpost input
{
    font-size: 1em;
}
.edit-data h1 .input_jpost label
{
    font-size: initial;
    font-weight: initial;
}

.edit-data .input_jpost input
{
    display: inline;
}
.edit-data .input_jpost input[type=text],
.edit-data .input_jpost select
{
    display: inline;
    width: 100%;
}
.edit-data .input_jpost input[type=number],
.edit-data .input_jpost input[type=time]
{
    width: 80px;
}

.edit-data .input_jpost textarea,
.edit-data .input_jpost .wp-editor-wrap
{
    display: block;
}
.input_jpost label
{
/*    font-size: 0.85em;*/
}

.input_jpost input,
.input_jpost textarea,
.input_jpost select
{
    font-size: 12px;
    background-color: #E8F4EA;
}
.dialog .input_jpost input,
.dialog .input_jpost textarea,
.dialog .input_jpost select
{
    font-size: 16px;
}
.input_jpost textarea
{
    width: 100%;
}

.edit-data .egalise .input_jpost label,
.edit-data .egalise .input_jpost input,
.egalise .input_jpost label,
.egalise .input_jpost input,
.egalise .input_jpost textarea
{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
.egalise .input_jpost
{
    display: flex;
}

/*
 * relookage des select
 */
.input_jpost select
{
    height: auto;
    border: 0; 
    margin: 0;
    padding: 1px 1px 1px 1.2em;
    border-radius: 0;
 /*   overflow: hidden;*/
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* nouvelle flèche */
.edit-data .input_jpost div.select::after 
{ 
    /* Le pointeur du select */
    content: '';
    position: absolute;
    margin-top: -0.8em;
    margin-left: 3px;
    display: block; 
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #444; 
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}
/* pas de flèche pour les select multiple */
.edit-data .input_jpost div.select-multiple::after 
{
    display: none;
}

/* icônes attachées à input_jpost */
.input_jpost .valid
{
    display: none;
    color: green;
}

/* Quiz */
.quiz-sortable li
{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    background-color: #F3F3F3;
}
.quiz-sortable input[type='text']
{
    width: 70%;
    background-color: white;
}
.quiz-sortable li.competence
{
    padding-left: 2em;
}
.quiz-sortable li.titre
{
    font-weight: bold;
}

.quiz-sortable div.quiz-line-type
{
    padding: 0 3px;
    font-size: 0.9em;
    float: left;
}
.quiz-sortable li.titre div.quiz-line-type::before
{
    content: "Titre";
    background-color: #EEC;
}

.quiz-sortable li.competence div.quiz-line-type::before
{
    content: "Compétence";
    background-color: #ECE;
}

.radio-disable input[type='radio']
{
    pointer-events: none;
}

/* Boutons */
.button, button, input[type="submit"]
{
    font-family: inherit;
}


/* jQueryUI dialog */
.ui-widget-overlay
{
    opacity: 0.9;
}

form.dialog
{
    min_width: 50vw;
    max-width: 90vw;
}

/* jQueryUI Tabs */
.ui-tabs-vertical { display: flex; flex-direction: row; }
.ui-tabs-vertical .ui-tabs-nav { padding: 0; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li
{
    clear: left;
    float: right;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: .3em -1px 0 0;
}
/*.ui-tabs-vertical .ui-tabs-nav li.tab-client */
.ui-tabs-vertical .ui-tabs-nav li.tab-stagiaire
{
    width: 90%;
    margin: 0 -1px 0 0;
}
.ui-tabs .ui-tabs-nav li.tab-stagiaire .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.tab-client .ui-tabs-anchor
{
    padding: .2em 0 .2em .4em;
    white-space: normal;
}

.ui-tabs-vertical .ui-tabs-nav li a { display:block; width: 100%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; }
.ui-tabs-vertical > * { flex-grow: 1 5;}

.infos-client p
{
    margin-top: 0px;
}

/* fieldset */
fieldset.metadata div
{
    margin: 15px 0;
}
fieldset h2
{
    margin: 15px 0 10px;
    font-size: 20px;
}
fieldset table
{
    margin: 20px 0px;
}

table.gestion-docs-admin th
{
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    padding: 8px 3px;
    background-color: #DDD;
}
table.gestion-docs-admin td
{
    vertical-align: top;
    border-bottom: 1px solid #BBB;
    text-align: center;
    padding: 5px 3px;
    width: 8%;
}
table.gestion-docs-admin td:first-child
{
    text-align: left;
    width: auto;
}

table.gestion-docs-admin .dashicons.big
{
    font-size: 30px;
    width: 30px;
    height: 30px;
}
table.gestion-docs-admin .dashicons:hover
{
    color: #4D0;
}
table.gestion-docs-admin .disabled,
table.gestion-docs-admin .disabled:hover
{
    color: #BBB;
}

/*
 * Custom keyworkds, ckw, mots-clés
 */
div.ckw_bloc
{
    margin-bottom: 20px;
}
p.ckw_desc
{
    background-color: #DFDFDF;
    font-size: 1.2em;
    padding: 2px 10px;
    margin-bottom: 5px;
}
p.ckw_desc .icone-bouton
{
    float: right;
    background-color: white;
}

table.add-compte td
{
    vertical-align: top;
}

td.td-intertitre
{
    padding: 3px;
    background: #DD4;
}

button
{
    font-family: sans;
    font-size: 0.8em;
}
button,
.bouton,
.gestion-docs-admin .doc-bouton
{
    cursor: pointer;
    padding: 2px 5px;
    border: 1px solid #AAA;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    line-height: 1.15em;
}
.bouton
{
    border-color: #4A4;
    color: #4A4;
}
.submit.enregistrement-requis
{
    background-color: #FAA;
    border: 3px solid #A44;
    color: black;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    bottom: 20px;
    z-index: 50;
}
.bouton.enregistrement-requis:hover
{
    background-color: #A44;
    color: white;
}
#update-budget-total
{
    display: none;
}
.bouton:hover,
.gestion-docs-admin .doc-bouton:hover
{
    background-color: #8F8;
}

input, textarea
{
    padding: 5px;
    margin-top: 0px;
}
textarea,
label
{
    vertical-align: top;
    display: inline-block;
}
label
{
    padding: 3px;
}
input[type='number']
{
    width: 6em;
}
.gestion-docs-admin .attention,
.gestion-docs-admin .attention:hover
{
    background-color: #F33;
    color: white;
}

span.attention,
.gestion-docs-admin .en-cours
{
    background-color: #FF3;
}
span.fait,
.gestion-docs-admin .fait
{
    background-color: #3F3;
}

div.liste-creneau
{
    display: flex;
    border-top: 1px solid #AAA;
}
div.liste-creneau input
{
    width: 100px;
}
div.liste-creneau > div:not(.icone-aide)
{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: auto;
    flex-direction: row;
}
div.creneau.actif .select-icon { display: none; }
div.creneau .select-icon { display: inline-block; }
div.creneau.actif .dashicons-yes-alt { display: inline-block; }
div.creneau .dashicons-yes-alt { display: none; }
div.creneau .select-icon
{
    vertical-align: middle;
    text-align: center;
    min-width: 20px;
    margin-right: 5px;
}

div.liste-creneau span.creneau-date
{
    font-weight: bold;
    margin: 10px;
}


div.liste-creneau div.details
{
    position: absolute;
    float: left;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    text-align: right;
    border: 2px solid;
    z-index: 500;
}
div.liste-creneau div.details label
{
    flex-direction: column;
}
.creneau.presentiel { background-color: #DAFB3F; }
.creneau.presentiel.actif { background-color: #85A000; color: white; }
.creneau.foad_sync { background-color: #5CCDC9; }
.creneau.foad_sync.actif { background-color: #006561; color: white; }
.creneau.foad_async { background-color: #A7ADE6; }
.creneau.foad_async.actif { background-color: #222B85; color: white; }
.creneau.afest { background-color: #E89FDA; }
.creneau.afest.actif { background-color: #881D73; color: white; }
.creneau.technique { background-color: #FFCDAF; }
.creneau.technique.actif { background-color: #A65424; color: white; }

.week_day
{
    padding: 3px 5px;
}
.week_day.samedi,
.week_day.dimanche
{
    background-color: #800;
    color: white;
}

.creneau_legende
{
    font-size: 0.9em;
    font-style: italic;
}
.creneau_legende .intitule
{
    font-weight: bold;
}

.valider_decale_date
{
    display: none;
}

.bouton.add-creneau::before,
.bouton.copy-date::before,
.bouton.add-date::before
{
    font-family: dashicons;
    font-size: 1.4em;;
}
.bouton.add-creneau,
.bouton.copy-date,
.bouton.add-date
{
    font-family: inherit;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
}

.eval td.coche
{
    width: 7%;
}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

form#pilote_formation
{
    border: 2px #777 solid;
    padding: 10px 20px;
}


/* Sous-traitance */
table#liste-stagiaires
{
    width: auto;
}
table#liste-stagiaires td
{
    padding: 3px 10px;
    text-align: center;
}

/* Patch, en attendant une vraie page utilisateur, indépendante d'Ultimate Member */
.um-header.no-cover .um-profile-photo,
.um-profile-photo,
.um-header.no-cover .um-profile-edit,
.um-profile-edit
{
    display: none;
}
.um-page-user h1.entry-title
{
    display: none;
}

.um-field-radio.um-field-half
{
    width: 20%;
    margin-right: 3em;
}
.um-field-radio .right
{
    float: left !important;
    text-align: left;
}

.msg-validation
{
    border: 1px solid red;
    border-radius: 5px;
    background-color: #CCC;
    padding: 15px;
}


/* Bouton « Coller en texte » du wp_editor : rouge lorsqu'il est actif */

div.mce-active i.mce-i-pastetext::before
{
    color: #F00;
}

/* Page pilote */
body.pilote #content
{
    width: 100%;
    padding: 0;
    float: none;
    position: relative;
}
body.pilote #container,
body.pilote .entry-header,
body.pilote .entry-content,
body.pilote .entry-summary,
body.pilote .entry-footer
{
    margin: 0;
    max-width: 100%;
    width: 100%;
}
body.pilote article.page 
{
    z-index: 10;
    position: relative;
}
body.pilote #sidebar
{
    display: none;
}

body.pilote #tmp
{
    width: 96%;
    margin: 0 2%;
    top: 0px;
    position: absolute;
    z-index: 11;
}

#top-bloc-pilote
{
    height: 80px;
    background-color: white;
    margin: 0;
    padding: 0;
    position: sticky;
    -webkit-position: sticky;
    top: 0px;
    display: flex;
    font-size: 12px;
    font-family: sans;
}
#top-bloc-pilote *
{
    display: table;
    margin: 2px 10px 2px 0;
}
#top-bloc-pilote div.filtre
{
    border: 1px solid #AAA;
    padding: 3px;
}
#top-bloc-pilote div.filtre span
{
    display: inline;
    font-size: 0.8em;
}

table.pilote
{
    margin-top: 0;
}
table.pilote th,
table.pilote td
{
    border: 1px solid #BBB;
    font-size: 12px;
    line-height: 14px;
    font-family: sans-serif;
    word-break: normal;
    color: black;
    min-width: 4%;
}
table.pilote p
{
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
table.pilote span
{
    font-weight: normal;
}
table.pilote input,
table.pilote select,
table.pilote textarea
{
    font-size: 0.9em;
    width: 100%; 
}
table.pilote > tbody > tr
{
    background-color: white;
    padding: 1px;
    border: 1px solid;
}
table.pilote tr.opac
{
    background-color: #EEF;
}
table.pilote > thead
{
    background-color: #CCC;
    position: sticky;
    -webkit-position: sticky;
    top: 80px;
}
table.pilote > thead th
{
    padding: 10px 0;
    font-weight: bold;
}
table.pilote > tbody
{
/*    height: 100vh;
    overflow: scroll;
    display: block;*/
}
table.pilote tr.session
{
    background-color: #EEE;
    padding: 0px;
}
table.pilote tr.session > td > div
{
    display: flex;
    padding: 10px 0px;
}
table.pilote tr.session > td > div > div
{
    margin: 2px 5px;
}
table.pilote tr.session > td > div > div > *
{
    display: inline;
}
table.pilote tr.session span.legende
{
    color: #888;
    font-style: italic;
    display: block;
}

tr.pilote-tableau-stagiaires
{
    display: none;
}
table.pilote_stagiaires
{
    margin: 0;
}

table.pilote_stagiaires td,
table.pilote_stagiaires th
{
    font-size: 1em;
}

div#pilote_dialog,
div.verif_dialog,
pre.rapport_csv
{
    display: none;
}

table.sql tr:nth-child(2n)
{
    background-color: #EEE;
}

/* Bilan pédagogique et financier */
#bpf p.value,
#bpf p.total,
#bpf p.sous_value
{
    display: flex;
    border-bottom: 1px solid #DDD;
    margin: 10px 0;
}
#bpf .total
{
    font-weight: bold;
}
#bpf .erreur
{
    color: #F88;
    font-weight: normal;
}
#bpf p.total span.bpf_value
{
    margin-left: auto;
    width: 200px;
}
span.bpf_right
{
    margin-left: auto;
    margin-right: 5px;
}
span.bpf_value
{
    border: 1px solid #BBB;
    border-radius: 2px;
    padding: 2px 10px;
    width: 150px;
    display: inline-block;
    text-align: right;
    height: max-content;
}
div.bpf_group
{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 2px 5px;
}
#bpf div.bpf_group p.value
{
    margin: 5px 0;
}
#bpf div.bpf_group p.sous_value
{
    margin: 5px 10px;
}
div.bpf_ctl
{
    background-color: #EFD;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 0.9em;
}
div.bpf_ctl p
{
    margin: 0;
}
#bpf table td
{
    border: 1px solid #888;
    text-align: center;
    width: 15%;
}
#bpf table td:first-child
{
    text-align: left;
    width: auto;
}
